@model CasgemDapper.Entity.Headings
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Başlık Adı</label>
        <input type="text" class="form-control" asp-for="HeadingName" />
        <br />
        <label>Başlık Status</label>
        <input type="text" class="form-control" asp-for="HeadingStatus" />
        <br />
        <button class="btn btn-primary">Başlık Ekle</button>
    </form>
</div>